* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container-height: 75vh;
  --container-width: 100vw;
  --bg-color: #141414;
  --primary-color: #D8A43E;
  --secondary-color: #AF8D44;
  --light-gray: #D8D8D8;
  --white: #FFFFFF;
  --black: #000000;
}

body, html {
  background-color: var(--bg-color);
  color: var(--white);
}

.container {
  height: var(--container-height);
  width: var(--container-width);
}

/* Nav Styles */
a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  z-index: 30;
  top: 0;
}

nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: var(--white); 
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 24px;
  height: 1px;
  background: var(--white);
  z-index: 99;
  border-radius: 2px;
}


.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: var(--white);
  color: var(--black);
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 15px;
  position: relative;
  transition: all 0.2s;
  color: var(--blk);
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    margin-right: 40px;
    min-height: fit-content;
    width: fit-content;
    column-gap: 48px;
    align-items: center;
    background-color: transparent;
    color: var(--white);
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}


/* Nav Styles End */


/* Hero Styles */
.hero__container {
  background-image: url('../../public/hero-bg.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: 10%;
  width: 100%;
  height: 100%;
}

.hero__wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.hero__content__wrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  justify-content: center;
  
}
.hero__img__wrapper {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
}

.hero__subHeading {
  font-size: 24px;
  color: var(--primary-color);
}

.hero__Heading {
  font-size: 96px;
  color: var(--light-gray);
}

.hero__btn__wrapper {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 216px;
  height: 80px;
  border-radius: 40px;
}

.hero__btn__bg {
  background-color: var(--secondary-color);
  color: var(--black);
}

.hero__btn__bordered {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

/* Hero Styles End */

