* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container-height: max-content;
  --container-width: 100%;
  --bg-color: #141414;
  --primary-color: #D8A43E;
  --secondary-color: #AF8D44;
  --light-gray: #D8D8D8;
  --white: #FFFFFF;
  --black: #000000;
}

body, html {
  background-color: var(--bg-color);
  color: var(--white);
}

.container {
  height: var(--container-height);
  width: var(--container-width);
}

/* Nav Styles */
a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  z-index: 30;
  top: 0;
}

nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: var(--white); 
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 24px;
  height: 1px;
  background: var(--white);
  z-index: 99;
  border-radius: 2px;
}


.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: var(--white);
  color: var(--black);
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 15px;
  position: relative;
  transition: all 0.2s;
  color: var(--blk);
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    margin-right: 40px;
    min-height: fit-content;
    width: fit-content;
    column-gap: 48px;
    align-items: center;
    background-color: transparent;
    color: var(--white);
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}


/* Nav Styles End */


/* Hero Styles */
.hero__container {
  background-image: url('../../public/hero.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.hero__wrapper {
  width: 85%;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.hero__content__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 50%;
  justify-content: center;
  
  
}
.hero__img__wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.hero__img__wrapper Image {
  width: 100%;
}

.hero__subHeading {
  font-size: 18px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }

.hero__Heading {
  font-size: 64px;
  color: var(--light-gray);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__btn__wrapper {
  width: 100;
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 200px;
  height: 60px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__btn__bg {
  background-color: var(--secondary-color);
  color: var(--black);
}

.hero__btn__bordered {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

.hero-person {
  height: 100vh;
}

@media (max-width: 884px) {

  .hero__container {
    min-height: auto;
  }
  .hero__content__wrapper {
    min-height: auto;
    padding: 150px 0;
    
    
  }

  .hero__content__wrapper {
    width: 100%;
    
  }
  .hero__img__wrapper {
    display: none;
  }

  .hero__img__wrapper Image {
    display: none;
  }
}

/* Hero Styles End */

/* Artists Styles */
.artist__container {
  width: 85%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 184px;
  border-radius: 5px;
  background: var(--bg-color);
}

.artist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist__heading {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.artist__bookArtistButton {
  background-color: var(--white);
  color: var(--black);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 186px;
  height: 60px;
  border-radius: 40px;
}

.artist__imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  gap: 2%;
  margin-top: 64px;
  height: fit-content;
}

.artist__imageItem {
  border-radius: 28px;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.artist__imageItem img {
  width: 100%;
  height: 100%;
  border: none;

}

/* Media queries */
@media (max-width: 1024px) {
  .artist__imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .artist__imageGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Artists Styles End */

/* Events Styles */
.events__container {
  background-color: white;
  padding: 100px 0;
}

.events__content {
  position: relative;
  margin: auto;
  width: 85%;
}

.events__background {
  background-image: url('../../public//our-events-bg.svg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.events__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5 for 50% opacity) */
  z-index: 1; /* Place it above the background image */
}

.events__center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  padding: 20px;

}

.events__heading {
  font-size: 64px;
  margin-bottom: 20px;
  z-index: 10;
}

.events__subheading {
  font-size: 20px;
  margin-bottom: 40px;
}

.events__button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 186px;
  height: 62px;
  border-radius: 62px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .events__background {
    height: 500px; 
  }
  
  .events__subheading {
    font-size: 20px;
  }
}

/* Events Styles End */


/* Explore Styles */
/* Other global styles */

/* Styles for the Explore component */
.explore__container {
  padding: 60px 0;
  width: 85%;
  padding: 100px 0;
  margin: 0 auto;
}

.explore__heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.explore__grid {
  display: grid;
  grid-template-columns: 1fr; /* Default: 1 card per row on large screens */
}


.explore__card {
  overflow: hidden;
  height: 100%;
  border: none;

}

.explore__image {
  width: 100%;
  height: auto;
}

.explore__text {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}

.explore__artist {
  font-size: 20px;
  font-weight: 800;
  color: var(--primary-color);
}


/* Media queries for responsive design */
@media screen and (min-width: 768px) {
  .explore__grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablets */
  }
}

@media screen and (min-width: 1024px) {
  .explore__grid {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row on larger screens */
  }
}



/* Explore Styles End */

/* Shop Styles */
.shop__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;

}

.shop__column.shop__column-1 {
  background: url('../../public/shop1.svg'), lightgray;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 100%;
  position: relative;
}

.shop__imageOverlay.shop__column-1 {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}


.shop__column.shop__column-2 {
  background: url('../../public//shop2.svg');
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  position: relative;
}

.shop__imageOverlay.shop__column-2 {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.shop__text {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.shop__subHeading {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.shop__heading {
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.shop__button {
  background: transparent;
  width: fit-content;
  border: 2px solid white;
  padding: 20px 60px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 60px;
  z-index: 2;
}

/* Shop Styles  End */


/* Newsletter Styles */

/* styles.module.css */

.newsletter-container {
  background: #E1E1E1;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px 0;
}

.newsletter-heading {
  color: var(--black);
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.newsletter-subheading {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 60px;
  padding: 20px 20px;
  width: 60%;
}

.newsletter-input {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 0;
  outline: none;
  flex-grow: 1;
}

.newsletter-submit {
  background-color: #000000;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  border-radius: 0;
  cursor: pointer;
  border-radius: 40px;
}




/* Newletter Styles End */