* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --container-height: max-content;
  --container-width: 100%;
  --bg-color: #141414;
  --primary-color: #d8a43e;
  --secondary-color: #af8d44;
  --light-gray: #d8d8d8;
  --white: #ffffff;
  --black: #000000;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--white);
}

.container {
  height: var(--container-height);
  width: var(--container-width);
}

.btn {
  width: 200px;
  padding: 20px;
  cursor: pointer;
  border: 0 solid white;
  border-radius: 50px;
  background: transparent;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--black);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--black);
}

.outline-btn {
  border: 1px solid var(--white);
  color: var(--white);
}

/* Nav Styles */
a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  z-index: 30;
  top: 0;
}

nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 24px;
  height: 1px;
  background: var(--white);
  z-index: 99;
  border-radius: 2px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: var(--white);
  color: var(--black);
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 15px;
  position: relative;
  transition: all 0.2s;
  color: var(--blk);
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.scrolled {
  background: black;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 64px;
    align-items: center;
    background-color: transparent;
    color: var(--white);
  }

  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}

/* Nav Styles End */



/* Hero Styles */
.hero-container {
  background-image: url(../../public/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.hero-texts {
  padding: 20rem 150px;
  width: 50%;
  height: 100vh;
}

.lead-text {
  font-size: 18px;
  color: var(--primary-color);
}

.hero-heading {
  font-size: 64px;
  color: var(--light-gray);
  font-weight: 700;
  margin: 20px 0;
}

.hero-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}


@media (max-width: 1450px) {

  .hero-texts {
    width: 100%;
    padding: 12rem 100px;
  }
}

@media (max-width: 850px) {

  .hero-container {
    text-align: center;
  }

  .hero-btns {
    justify-content: center;
  }
}

@media (max-width: 500px) {

  .hero-container {
    text-align: center;
    height: 70vh;
  }

  .hero-texts {
    width: 100%;
    padding: 7rem 50px;
  }

  .hero-heading {
    font-size: 41px;
  }

  .hero-btns {
    flex-direction: column;
  }
}
/* Hero Styles End */



/* Artists Styles */
.artist-container {
  padding: 2rem 150px;
}

.artist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist__heading {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.artist__imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 64px 0;
  height: fit-content;
}

.artist__imageItem {
  border-radius: 28px;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.artist__imageItem img {
  width: 100%;
  height: 100%;
  border: none;
}

/* Media queries */
@media (max-width: 1200px) {
  .artist-container {
    padding: 2rem 100px;
  }

  .artist__imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .artist__imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .artist__bookArtistButton {
    padding: 10px 25px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .artist-container {
    padding: 2rem 20px;
  }

  .artist__imageGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .artist__header .btn {
    width: 150px;
  }
}

/* Artists Styles End */

/* Events Styles */
.events__container {
  background-color: white;
  padding: 80px 0;
}

.events__content {
  position: relative;
  margin: auto;
  width: 85%;
}

.events__background {
  background-image: url("../../public//our-events-bg.svg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.events__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  z-index: 1;
}

.events__center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.events__heading {
  font-size: 48px;
  margin-bottom: 20px;
  z-index: 10;
}

.events__subheading {
  font-size: 18px;
  margin-bottom: 60px;
}

.events__button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 18px 45px;
  border-radius: 32px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .events__background {
    height: 500px;
  }

  .events__heading {
    font-size: 32px;
  }

  .events__subheading {
    font-size: 17px;
  }

  .events__button {
    padding: 15px 25px;
    font-size: 15px;
  }
}

/* Events Styles End */

/* Explore Styles */

.explore__container {
  padding: 60px 0;
  width: 85%;
  padding: 60px 0;
  margin: 0 auto;
}

.explore__heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
}

.explore__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
}

.explore__card {
  overflow: hidden;
  height: 100%;
  border: none;
}

.explore__image {
  width: 100%;
  height: auto;
}

.explore__text {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 40px;
}

.explore__artist {
  font-size: 20px;
  font-weight: 800;
  color: var(--primary-color);
}

/* Media queries for responsive design */
@media screen and (max-width: 1024px) {
  .explore__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 482px) {
  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Explore Styles End */

/* Shop Styles */
.shop__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
}

.shop__column.shop__column-1 {
  background: url("../../public/shop1.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 450px;
  width: 100%;
  position: relative;
}

.shop__imageOverlay.shop__column-1 {
  background: rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.shop__column.shop__column-2 {
  background: url("../../public//shop2.svg");
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(63, 61, 61, 0.25);
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  position: relative;
}

.shop__imageOverlay.shop__column-2 {
  background: rgba(11, 0, 0, 0.912);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.shop__text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.shop__subHeading {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.shop__heading {
  width: 80%;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shop__button {
  background: transparent;
  width: fit-content;
  border: 2px solid white;
  padding: 15px 45px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  border-radius: 32px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .shop__subHeading {
    font-size: 16px;
  }

  .shop__heading {
    font-size: 30px;
    width: 100%;
  }
  .shop__button {
    font-size: 15px;
    padding: 15px 25px;
  }
}

/* Shop Styles  End */



/* Newsletter Styles */

.newsletter-container {
  background: #e1e1e1;
  text-align: center;
  padding: 150px 0;
}

.newsletter-heading {
  color: var(--black);
  font-size: 48px;
  font-weight: 700;
}

.newsletter-subheading {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  position: relative;
  margin: 50px auto;
}

.input-container {
  background-color: var(--white);
  border-radius: 50px;
  padding: 25px;
  width: 100%;
}

.newsletter-input {
  background-color: white;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.newsletter-submit {
  background-color: #000000;
  position: absolute;
  right: 5px;
  color: white;
  width: 150px;
  font-size: 18px;
}

::placeholder {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 768px) {
  .form {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .form {
    flex-direction: column;
    width: 80%;
    position: unset;
  }

  .newsletter-submit {
    position: unset;
    width: 100%;
    margin-top: 20px;
  }
}

/* Newletter Styles End */

/* Socials Styles */

.socials-container {
  background: var(--bg-color);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 180px 0;
}

.socials-heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-icon-link {
  text-decoration: none;
  margin: 0 10px;
}

.social-icon-circle {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 24px;
  color: var(--black);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .social-icon {
    width: 50%;
    height: 50%;
  }

  .social-icon-link {
    text-decoration: none;
    margin: 0 5px;
  }
}

/* Socials Styles End */

/* Footer Styles */

.footer__container {
  background: #232323;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 80px;
}

.footer__image {
  width: 240px;
  height: 240px;
}

.copyright__text {
  color: #636363;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .footer__image {
    width: 150px;
    height: 150px;
  }

  .copyright__text {
    font-size: 13px;
  }
}

/* Footer Styles End */

/* Media Queries */

/* Media Queriea End */

/* Animation Styles */
.typewriter-animation {
  display: inline-block;
  overflow: hidden;
  animation: cursor 0.7s infinite;
}

@keyframes cursor {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #000;
  }
}

/* Fade In Animation */
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade Out Animation */
.fade-out {
  opacity: 1;
  animation: fadeOut ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fade Up Animation */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade Down Animation */
.fade-down {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  animation: slideIn 1s linear; /* Use linear easing */
}

@keyframes slideIn {
  0% {
    left: -100%; /* Start off-screen to the left */
  }
  100% {
    left: 0; /* Slide in to the left edge */
  }
}

/* Animation Styles End */
